<div class="container">
  <div id="sidebar-wrapper">

    <ul class="sidebar-nav">

      <li class="sidebar-brand"><a href="#"> Waggon</a></li>
      <li class="sidebar-header"><a href="#"></a></li>

      <li><a href="/">My List</a></li>
      <li><a href="/archives/">Archives</a></li>
      <li><a href="/favorites/">Favorites</a></li>

      <li class="sidebar-header"><a href="#"></a></li>

      {% for stack in stacks %}
      <li><a href="/user/{{stack.id}}/">{{stack.name}}</a></li>
      {% endfor %}

    </ul>

  </div>
</div>
