<div class="container">
  <div id="sidebar-wrapper">

    <ul class="sidebar-nav">

      <li class="sidebar-brand"><a href="#"> Waggon</a></li>

      <li><a href="#">Cricket</a></li>
      <li><a href="#">Volley ball</a></li>
      <li> <a href="#">Kho-Kho</a></li>
      <li><a href="#">Table Tennis</a></li>
      <li><a href="#">Badminton</a></li>
      <li><a href="#">Dodge ball</a></li>
      <li><a href="#">Long jump</a></li>
      <li><a href="#">Throw ball</a></li>
      <li><a href="#">Foot ball</a></li>
      <li><a href="#">Kabbadi</a></li>
      <li> <a href="#">Carroms</a></li>

    </ul>
  </div>
</div>
