{% extends "base.html" %}
{% load staticfiles %}
{% load pin_tags %}
{% block content %}

<style type="text/css">
.actions{
    list-style-type: none;
    padding-left: 0px;
}
.actions li{
    display: inline-block;
    padding-left: 15px;
}
.actions a{
    text-decoration: none;
}
</style>
<h3>All your Bookmarks</h3>

{% for bookmark in object_list %}



<a href="{{ bookmark.link }}" target="_blank"><p>{{bookmark.title}}</p></a>
<p>{{ bookmark.created_at }}</p>
<ul class="actions">
     <li><a href="{% url 'delete_bookmark' bookmark.id %}"><span class="glyphicon glyphicon-trash"></span></a></li>
     <li><a href="{% url 'detail_bookmark' bookmark.id %}"><span class="glyphicon glyphicon-fullscreen"></span></a></li>
     <li><a href="{% url 'edit_bookmark' bookmark.id %}"><span class="glyphicon glyphicon-pencil"></span></a></li>
     {% if bookmark|is_favourited:request.user %}
     <li><a href="{% url 'remove_favorite' bookmark.id %}"><span class="glyphicon glyphicon-heart"></span></a>
     {% else %}</li>
     <li><a href="{% url 'add_favorite' bookmark.id %}"><span class="glyphicon glyphicon-heart-empty"></span></a>
     {% endif %}</li>

</ul>
{% endfor %}

{% comment %}

<div class="....">
<h3>Higgest Tagged</h3>

{% for tag in popular_user_tags  %}
<a class="tag-link-sidebar" href="{% url 'tag_items' tag.name %}">{{tag.name}}</a>
{% endfor %}
</div>
{% endcomment %}


{%endblock content%}
