{% extends "base.html" %}
{% load staticfiles %}
{% load pin_tags %}
{% block content %}


<h3>All your Bookmarks</h3>

{% for bookmark in object_list %}

<a href="{{ bookmark.link }}" target="_blank"><p>{{bookmark.title}}</p></a>
<p>{{ bookmark.created_at }}</p>

            <!-- I like to move it move it move it I like to move it, move it -->

          {% if bookmark|is_favourited:request.user %}
          
          <a href="{% url 'remove_favorite' bookmark.id %}"><input type="button" value="Remove Favorite"></a>
     
          {% else %}

          <a href="{% url 'add_favorite' bookmark.id %}"><input type="button" value="Favorite"></a>
           
          {% endif %}

          <!-- I like to move it move it move it I like to move it, move it -->

{% endfor %}

{% comment %}

<div class="....">
<h3>Higgest Tagged</h3>

{% for tag in popular_user_tags  %}
<a class="tag-link-sidebar" href="{% url 'tag_items' tag.name %}">{{tag.name}}</a>
{% endfor %}
</div>
{% endcomment %}


{%endblock content%}
