{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Waggon App</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/application.css"%}">
    </head>
    <body>
        <div id="wrapper">
        {% include "includes/header.html" %}
        
        <div id="page-content-wrapper">
           

        {% block content %}
        {% endblock content %}
                   
        </div>
	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    </body>

