{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Bookie</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/application.css"%}">
    </head>
    <body>
        {% include "includes/header.html" %}
        <div id="wrapper">
    	{% block content %}
        {% endblock content %}
        </div>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
        <script>
        $(document).foundation();
        </script>
    </body>

</html>
